<div class="questions-new">
  <div class=container>
    <div class="main-wrap">
      <div class="main">
        <h3>New Question</h3>
        <div class="form">
          <%= render partial:'form', locals: { part: @part, question: @question } %>
        </div>
      </div>
    </div>
  </div>
</div>
