<div class="parts-new">
  <div class="container main-container">
    <div class="form">
      <h3 class="main-title"><%= @subject.title %></h3>
      <%= render partial:'form', locals: { subject: @subject, part: @part } %>
    </div>
  </div>
</div>
