.tests-show{
  padding: 140px 0 50px;
  .main-container {
    background-color: #fff;
    padding: 0 100px;
  }
  table {
    overflow-y:scroll;
    background-color: #FFF;
  }
  th {
    word-break: break-all;
    color: #777777;
    font-size: 1.5rem;
  }
  td {
    margin: 0;
    width: 868px;
    vertical-align: middle;
    word-break: break-all;
  }
  .form-group {
    margin: 10px 0;
  }
  .field {
    word-break: break-all;
  }
  .test-question-content {
    margin-left: 100px;
    // word-break: break-all;
  }
  #description {
    background-color: #fff;
  }
  .action {
    margin-bottom: 10px;
  }
}
