<div class="admins-index">
  <div class="container main-container">
    <h3 class="main-title">Admin Index</h3>
    <table class="table table-hover">
      <tbody>
        <% @admins.each do |admin| %>
        <% if admin.id.present? %>
        <tr>
          <td class="admin-name"><%= admin.name %></td>
          <td>
            <% if admin.admin == "true" %>admin
            <% end %>
          </td>
          <td class="text-right">
            <% unless admin == current_admin %>
            <%= link_to admin.admin, admin_toggle_admin_path(admin), method: :patch, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-info btn-sm" %>
            <% end %>
            <%= link_to 'Destroy', admin_path(admin), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-info btn-sm" %>
          </td>
        </tr>
        <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
