<div class="header">
  <div class="header-brand">Quick Learning</div>
  <div class="header-link">
    <%= link_to 'General user here!', new_user_session_path %>
    <%= link_to 'Sign up', new_admin_registration_path %>
    <%= render "admins/shared/links" %>
  </div>
</div>
<%= render partial: 'layouts/errorMessage' %>
