<div class="header">
  <div class="header-brand">Quick Learning</div>
  <div class="header-nav">
    <%= link_to "#{t('header.user_sign_in') }", new_user_session_path %>
    <%= link_to "#{t('header.admin_sign_in') }", new_admin_session_path %>
  </div>
</div>
<%= render partial: 'layouts/flashMessage' %>
