<div class="header">
  <div class="header-brand">Quick Learning</div>
  <div class="header-nav">
    <%= link_to 'Sign in', new_user_session_path %>
    <%= link_to 'Administer here!', new_admin_session_path %>
    <%= render "users/shared/links" %>
  </div>
</div>
<%= render partial: 'layouts/flashMessage' %>
