.answer_papers-check{
  padding: 140px 0 50px;
  .main-container {
    background-color: #fff;
    padding: 0 100px 100px;
  }
  .main-title {
    margin: 50px 0;
  }
  .form-answer {
    margin-top: 50px;
  }
  .test-question-title {
    margin-top: 100px;
    word-break: break-all;
  }
  .test-question-content {
    margin-top: 50px;
    word-break: break-all;
  }
  .text-advice {
    border-bottom: solid 1px #777777;
  }
  #advice {
    background-color: #fff;
  }
  .checked-toggle-btn {
    margin-top: 100px;
  }
  .action {
    margin-bottom: 10px;
  }
}
