.user_answers-index{
  padding: 140px 0 50px;
  table {
    overflow-y:scroll;
    background-color: #FFF;
  }
  th {
    background-color: #e9ecef;
    padding: 7px 10px;
    margin: 0;
    vertical-align: middle;
    word-break: break-all;
    color: #777777;
  }
  td {
    padding: 0 5px;
    margin: 0;
    min-width: 140px;
    vertical-align: middle;
    word-break: break-all;
  }
  .user-name {
    word-break: break-all;
    display: block;
    color: #777777;
    padding: 7px;
  }
  a:hover {
    text-decoration: none;
  }
}
