<h1>以下のURLにアクセスし、テストを選択すると自動でテストが開始されます！</h1>
<p>試験時間はサンプルのため10秒間です</p>
<p>テストの間ページ遷移はできなくなります。なお、他のサイトへアクセスした場合、失格となります。</p>
<p><%= link_to "テスト一覧へ移動する", testings_url(tests: @tests.map(&:id)) %></p>
