<div class="answer_papers-index">
  <div class="container main-container">
    <h3 class="main-title">UserAnswer Index</h3>
    <table class="table table-hover">
      <tbody>
        <tr>
          <th colspan="2" class="test-title"><%= @test.title %></th>
          <th class="text-right"><%= link_to "全員に返却", back_answer_papers_path(test: @test), method: :patch, class: "btn btn-info btn-sm checked-toggle-btn" %></th>
        </tr>
        <% @answer_papers.each do |answer_paper| %>
        <% if answer_paper.backed == false %>
        <tr>
          <td class="icon text-right">
            <% if answer_paper.checked == "unchecked" %>
            <i class="fas fa-check checked-icon"></i>
            <% else %>
            <i class="fas fa-check unchecked-icon"></i>
            <% end %>
          </td>
          <td><%= link_to answer_paper.user.name, check_answer_papers_path(test: @test, user: answer_paper.user), class: "user-name" %></td>
          <td class="text-right action"><%= link_to "返却", back_answer_papers_path(test: @test, user: answer_paper.user), method: :patch, class: "btn btn-info btn-sm checked-toggle-btn" %></td>
        </tr>
        <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
