<div class="test_questions-edit">
  <div class="container main-container">
    <h3 class="main-title">Edit TestQuestion</h3>
    <div class="form">
      <%= render partial:'form', locals: { test: @test, test_question: @test_question } %>
    </div>
  </div>
</div>
