<div class="test_questions-show">
  <div class="container main-container">
      <h3 class="main-title">Show TestQuestion</h3>
      <div class="test-question-title">
        <h5>問題.　<%= @test_question.title %></h5>
      </div>
      <div class="test-question-content">
        <%= simple_format(h(@test_question.content), {}, sanitize: false, wrapper_tag: "div") %>
      </div>
      <% if @test_question.form_size == 6 || @test_question.form_size == 12 %>
      <div class="form-group form-answer">
        <%= text_area_tag 'description', "", disabled: true, rows: 1, class: "form-control col-#{@test_question.form_size}" %>
      </div>
      <% else %>
      <div class="form-group form-answer">
        <%= text_area_tag 'description', "", disabled: true, rows: @test_question.form_size, class: "form-control form-area" %>
      </div>
      <% end %>
  </div>
</div>
