<div class="projects-introduction">
  <h1>Welcome to Quick Learning！</h1>
  <div class="jumbotron jumbotron-extend animated rubberBand">
  </div>
  <div class="projects-introduction-action">
    <%= link_to '参加する', admin_participations_path(project_id: admin_invitee_project.id), method: :post, class: 'btn btn-info btn-block' %>
  </div>
</div>
