<div class="projects-edit">
  <div class="main-container">
        <h3 class="main-title">Editing Project</h3>
        <div class="form">
          <%= render 'form', project: @project %>
        </div>
  </div>
</div>
