<div class="projects-introduction">
  <div class="jumbotron jumbotron-extend animated rubberBand">
    <h1>Welcome to Quick Learning！</h1>
  </div>
  <div class="projects-introduction-action">
    <% if admin_signed_in? %>
    <%= link_to '参加する', project_admins_path(project_id: admin_invitee_project.id), method: :post, class: 'btn btn-info btn-block' %>
    <% end %>
    <% if user_signed_in? %>
    <%= link_to '参加する', project_users_path(project_id: user_invitee_project.id), method: :post, class: 'btn btn-info btn-block' %>
    <% end %>
  </div>
</div>
