<div class="projects-launch">
  <div class="jumbotron jumbotron-extend animated rubberBand">
    <h1>Welcome to Quick Learning！</h1>
  </div>
  <div class="projects-launch-action">
    <%= link_to 'カリキュラムの作成を始めましょう！', project_admins_path(project_id: @project.id), method: :post, class: 'btn btn-info btn-block' %>
  </div>
