<div class="projects-launch">
  <div class="jumbotron jumbotron-extend animated rubberBand">
  </div>
  <div class="projects-launch-action">
    <%= link_to 'カリキュラムの作成を始めましょう！', admin_participations_path(project_id: @project.id), method: :post, class: 'btn btn-info btn-block' %>
  </div>
