<div class="subjects-index">
  <div class="container main-container">
    <h3 class="main-title">Subject Index</h3>
    <div class="form">
      <%= render partial:'subjects/form', locals: { subject: @subject, project: @project } %>
    </div>
    <%= render partial: 'subjects/index', locals: { subjects: @subjects, project: @project } %>
  </div>
</div>
