<div class="subjects-index">
  <div class="container main-container">
    <h3 class="main-title"><%= t '.title' %></h3>
    <div class="form">
      <%= render partial:'subjects/form', locals: { subject: @subject, project: @project } %>
    </div>
    <%= render partial: 'subjects/index' %>
  </div>
</div>
