.parts-show{
  padding: 140px 0 50px;
  table {
    overflow-y:scroll;
    background-color: #FFF;
  }
  th {
    word-break: break-all;
    color: #777777;
    font-size: 1.5rem;
  }
  td {
    margin: 0;
    vertical-align: middle;
    word-break: break-all;
    border: none;
  }
  .pagination-area {
    margin-bottom: 15px;
    height: 30px;
    .pagination-btn {
      border:1px solid #BBBBBB;
      border-radius: 5px;
      color: #BBBBBB;
      font-weight: bold;
      width: 100px;
    }
    .pagination-btn:hover {
      border-color: #777777;
      background-color: #777777;
      color: #FFF;
    }
  }
  .achieved-icon{
    width: 150px;
    p {
      padding: 0;
      margin:0;
      border:1px solid #17a2b8;
      color: #17a2b8;
      text-align: center;
      border-radius: 20px;
      width: 130px;
    }
  }
}
