.parts-show{
  padding: 140px 0 50px;
  table {
    overflow-y:scroll;
    background-color: #FFF;
  }
  th {
    word-break: break-all;
    color: #777777;
    font-size: 1.5rem;
  }
  td {
    margin: 0;
    width: 868px;
    vertical-align: middle;
    word-break: break-all;
  }
  .action {
    margin-bottom: 10px;
  }
}
