.projects-introduction {
  .jumbotron-extend {
    position: relative;
    height: 80vh;
    background: image-url('user_introduction.png') no-repeat center center;
    background-size: cover;
    h1 {
      font-size: 3rem;
      text-align: center;
    }
  }
  .btn:hover {
    background-color: #fff;
    color: #008080;
  }
}
