.projects-launch {
  margin: 50px 300px;
  .jumbotron-extend {
    position: relative;
    height: 70vh;
    background: image-url('user_introduction.png') no-repeat center center;
    background-size: cover;
    margin: 0;
    h1 {
      font-size: 3rem;
      text-align: center;
    }
  }
  .projects-launch-action{
    margin: 0 100px;
  }
  .btn:hover {
    background-color: #fff;
    color: #008080;
  }
}
