.questions-my_question_index{
  padding: 140px 0 50px;
  .list-group {
    padding: 5px;
  }
  .form {
    margin: 0 100px;
  }
  .user-question {
    max-width: 900px;
    margin: 15px auto 0;
    background-color: #F0F8FF;
    border: 1px solid #DDDDDD	;
    border-radius: 5px;
    padding: 0 10px 10px;
    .question-title {
      background-color: #F0F8FF;
      padding: 0 15px;
    }
    .question-link {
      background-color: #F0F8FF;
      display: block;
      padding: 5px;
      color: #777777;
      font-size: 1.5rem;
      text-decoration: none;
    }
    .question-link:hover {
      color: #fff;
    }
    .part-title {
      background-color: #F0F8FF;
    }
  }
  .action {
    max-width: 900px;
    margin: 5px auto;
  }
}
