.questions-my_question_index{
  padding: 140px 0 50px;
  .container {
    max-width: 960px;
  }
  .main-wrap {
    margin: 0px 15px 0 15px;
    background-color: #F0F8FF;
    border: 1px solid #DDDDDD	;
    border-radius: 5px;
  }
  .list-group {
    padding: 5px;
  }
  .main {
    height: 100%;
    padding: 20px 15px 0;
  }
  .page-title{
    margin-left: 15px;
  }
  .form {
    margin: 30px 100px 0;
  }
  .main-table {
    margin-top: 5px;
    table {
      overflow-y:scroll;
    }
    th {
      padding: 0 10px;
      margin: 0;
    }
  }
  .question-action {
    margin: 5px 15px 0 0;
  }
  .user-question {
    margin: 15px 15px 0;
    background-color: #F0F8FF;
    border: 1px solid #DDDDDD	;
    border-radius: 5px;
    padding: 0 10px 10px 10px;
    font-size: 1rem;
    .question-title {
      font-size: 1rem;
      font-weight: bold;
      background-color: #F0F8FF;
    }
  }
}
