.questions-new{
  padding-top: 140px;
  .container {
    max-width: 960px;
  }
  .main-wrap {
    margin: 0px 15px;
    background-color: #F0F8FF;
    border: 1px solid #DDDDDD	;
    border-radius: 5px;
  }
  .main {
    height: 100%;
    padding: 20px 15px 0;
  }
  .form {
    margin: 30px 0 0 0;
  }
  .question-action {
    margin: 5px 15px 0 0;
  }
}
