.questions-show{
  padding-top: 140px;
  .list-group {
    margin-bottom: 15px;
    .list-title {
      background-color: #F0F8FF;
      font-size: 1.5rem;
    }
    .list-questioner {
      background-color: #F0F8FF;
      padding: 5px 20px;
    }
  }
  .user-comment {
    max-width: 900px;
    margin: 15px auto 0;
    background-color: #F0F8FF;
    border: 1px solid #DDDDDD	;
    border-radius: 5px;
    padding: 0 15px;
    word-break: break-all;
    .comment-user-name {
      background-color: #F0F8FF;
    }
  }
  .admin-comment {
    max-width: 900px;
    margin: 15px auto 0;
    background-color: #99CCCC;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    padding: 0 15px;
    word-break: break-all;
    .comment-admin-name {
      background-color: #99CCCC;
      color: #008080;
    }
  }
  .action {
    max-width: 900px;
    margin: 5px auto 0;
  }
  .comment-form {
    max-width: 900px;
    margin: 15px auto 0;
  }
}
