.questions-show{
  padding-top: 140px;
  .container {
    max-width: 960px;
  }
  .main-wrap {
    margin: 0px 15px 0 15px;
    background-color: #F0F8FF;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
  }
  .list-group {
    padding: 5px;
  }
  .main {
    height: 100%;
    padding: 20px 10px 10px;
  }
  .page-title{
    margin-left: 15px;
  }
  .main-table {
    margin-top: 5px;
    table {
      overflow-y:scroll;
    }
    th {
      padding: 0 10px;
      margin: 0;
    }
  }
  .question-action {
    margin: 5px 15px 0 0;
  }
  .user-comment {
    margin: 15px 15px 0;
    background-color: #F0F8FF;
    border: 1px solid #DDDDDD	;
    border-radius: 5px;
    padding: 0 10px 10px 10px;
    font-size: 1rem;
    .comment-user-name {
      font-size: 1rem;
      font-weight: bold;
      background-color: #F0F8FF;
    }
  }
  .admin-comment {
    margin: 15px 15px 0;
    background-color: #99CCCC;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    padding: 0 10px 10px 10px;
    .comment-admin-name {
      font-size: 1rem;
      font-weight: bold;
      background-color: #99CCCC;
      color: #008080;
    }
  }
  .comment-action {
    margin: 5px 15px 0 0;
  }
  #comments-form {
    margin: 15px 15px 50px;
  }
  .remove-active {
    background-color: #fff;
    color: #fff;
  }
}
