body {
  background: #F5F5F5;
  color: #777777;
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}
.alert {
  margin: 0;
  padding-top: 70px;
  position: fixed;
  width: 100%;
}
h1 {
  color: #008080;
}
