body {
  background: #F5F5F5;
  color: #777777;
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  margin-bottom: 50px;
}
.alert {
  padding-top: 70px;
  position: fixed;
  width: 100%;
  z-index: 9;
  ul {
    margin: 0;
    padding-left: 5px;
  }
}
h1 {
  color: #008080;
}
.btn-login {
  background-color: #008080;
  color: #fff;
  opacity: 0.98;
}
.btn-login:hover {
  background-color: #fff;
  color: #008080;
}
.btn-info:hover {
  background-color: #fff;
  color: #008080;
}
.btn-test {
  background-color: #DC143C;
  color: #fff;
  font-weight: bold;
}
.btn-test:hover {
  background-color: #8B0000;
}
.main-container {
  max-width: 900px;
  background-color: #F0F8FF;
  border: 1px solid #DDDDDD	;
  border-radius: 5px;
  margin-bottom: 0;
}
.main-title {
  padding: 20px 15px 30px;
}
