.navigation {
  max-width: 900px;
  padding-top: 140px;
  margin-bottom: -100px;
  a {
    color: #555555;
    font-weight: bold;
  }
  a:hover{
    background: #555555;
    color: #fff;
    opacity: 0.98;
  }
  a.active{
    background: #555555;
    color: #fff;
    opacity: 0.98;
  }
  .row {
    border: 1px solid #AAAAAA;
    border-radius: 5px;
  }
  .col {
    border: 1px solid #AAAAAA;
    text-align: center;
    opacity: 0.7;
    padding: 0;
    text-decoration: none;
    min-width: 130px;
    max-width: 170px;
  }
}
