<h1>Categories#new</h1>
  <%= form_with model: [@project, @category], local: true do |form| %>
    <div class='form-group'>
      <%= form.label :title %>
      <%= form.text_field :title, class: 'form-control' %>
    </div>
    <%= form.submit nil, class: 'btn btn-primary' %>
  <% end %>
