<% if notice %>
<div class="alert alert-info alert-dismissible animated flash" role="alert">
  <%= notice %>
</div>
<% end %>
<% if alert %>
<div class="alert alert-danger alert-dismissible animated flash" role="alert">
  <%= alert %>
</div>
<% end %>
