<% if notice %>
<div class="alert alert-info alert-dismissible animated flash" role="alert">
  <%= notice %>
</div>
<% end %>
<% if alert %>
<div class="alert alert-danger alert-dismissible animated flash" role="alert">
  <%= alert %>
</div>
<% end %>
<% if devise_controller? %>
<% if resource.errors.any? %>
<div class="alert alert-danger alert-dismissible animated flash" role="alert">
  <ul>
    <% resource.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<% end %>
